<!DOCTYPE html>
<html lang="en">
<head>
    <title>Добавить</title>
    {% include 'header.html' %}
</head>
<body>
{% include 'navbar.html' %}
<div class="container mt-5">
    <h1>Добавление записи в {{ table_name }}</h1>
    <form method="POST" action="/add/{{ table_name }}">
        {% for column in column_names %}
            <div class="form-group-mb3">
                <label for="column_{{ loop.index }}">{{ column }}</label>
                <input type="text" class="form-control" id="column_{{ loop.index }}" name="column_{{ loop.index }}"
                       required>
            </div>
        {% endfor %}
        <button type="submit" class="btn btn-primary mt-3">Добавить</button>
    </form>
</div>
{% include 'footer.html' %}
</body>
</html>
