<div style="margin-top: 70px;"></div>
<footer class="bg-dark text-white fixed-bottom py-3">
    <div class="container">
        <div class="row">
            <div class="col-md-4 text-center text-md-left mb-2 mb-md-0">
                <!-- Empty column for alignment -->
            </div>
            <div class="col-md-4 text-center">
                <span>{{ org_name }}</span>
            </div>
            <div class="col-md-4 text-center text-md-right">
                <a href="https://www.facebook.com/examplellc" class="btn btn-primary mr-2" target="_blank">
                    <i class="fab fa-facebook-f"></i> Facebook
                </a>
                <a href="https://www.twitter.com/examplellc" class="btn btn-info mr-2" target="_blank">
                    <i class="fab fa-twitter"></i> Twitter
                </a>
                <a href="https://www.linkedin.com/company/examplellc" class="btn btn-secondary" target="_blank">
                    <i class="fab fa-linkedin-in"></i> LinkedIn
                </a>
            </div>
        </div>
    </div>
</footer>


