<!DOCTYPE html>
<html lang="en">
<head>
    <title>Смена пароля</title>
    {% include 'header.html' %}
</head>
<body>
{% include 'navbar.html' %}
<div class="container mt-5">
    <h1>Смена пароля</h1>

    <form method="POST" action="{{ url_for('change_password') }}">
        <div class="form-group">
            <label for="new_password">Новый пароль</label>
            <input type="password" class="form-control" id="new_password" name="new_password" required>
        </div>
        <button type="submit" class="btn btn-primary">Поменять</button>
    </form>
</div>
{% include 'footer.html' %}
</body>
</html>
